---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="relative">
				<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				  <div class="relative shadow-xl sm:rounded-2xl">
					<div class="absolute inset-0">
						<img class="sm:rounded-2xl" width={1200} height={600} src={'/images/oulu-devmeetups-hero.jpg'} alt="artistic picture of Oulu castle" />
					</div>
				  </div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
