---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<html class="h-full">
	<body class="h-full">
		<div class="min-h-full">
			<Header/>
			<div class="py-10">
			<main>
				<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 flex flex-col">
					<div class="container">
						<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
						<div class="relative shadow-xl sm:rounded-2xl">
							<div class="">
								<img class="sm:rounded-2xl" width={1200} height={600} src={'/images/oulu-devmeetups-hero.jpg'} alt="artistic picture of Oulu castle" />
							</div>
						</div>
						</div>
					</div>
					<div class="container m-4 text-center">
						<h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
						  Developer meetings in Oulu area
						</h1>
						<div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
						  <p>
							Here are list of future meetups for all aspiring developers and tinkerers in Oulu area. Meet new people and share knowledge!
						  </p>
						  <p>
							Here you can also submit your own meetup. Either do the pull request yourself or just fill in in the form. 
						  </p>
						  <p>
							See you there!
						  </p>
						</div>
					</div>
				</div>
			</main>
			<Footer />
			</div>
		</div>
	</body>
</html>