---
const activeNavClass = "border-indigo-500 text-gray-900";
const defaultNavClass = "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700";

const { href, linkDescription} = Astro.props;

const pathname = Astro.url.pathname;

const isActive = href === pathname || href === pathname.replace(/\/$/, '');

const className = (isActive ? activeNavClass : defaultNavClass).concat(" inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium");
---

<a href={href} class:list={className} >
  {linkDescription}
</a>
